<form [formGroup]="projectForm" (ngSubmit)="addProject()">
  <input
    formControlName="projectName" 
    type="text"
    class="form-control"
    placeholder="Name"
  />
  <input
    formControlName="areaSize" 
    type="number"
    class="form-control"
    placeholder="Area Size"
  />
  <input
    formControlName="long" 
    type="number"
    class="form-control"
    placeholder="Longitude"
    (input)="changeMarker()"
  />
  <input
    formControlName="lat" 
    type="number"
    class="form-control"
    placeholder="Latitude"
    (input)="changeMarker()"
  />
  <div
    #map
    style="width: 100%; height: 400px; position: relative; overflow: hidden;"
  ></div>
  <br />
  <div formArrayName="branches"
  *ngFor="let branch of projectForm.get('branches').controls; let i = index;">
  <div [formGroupName]="i">
    <input formControlName="name" placeholder="Branch name">
    <input formControlName="areaSize" type="number" placeholder="areaSize">
    <input formControlName="long" type="number" placeholder="Longitude">
    <input formControlName="lat" type="number" placeholder="Latitude">
  </div>
</div>
<div class="btn btn-warning" (click)="addBranch()">Add Branch</div> <br /><br />
  
<button class="btn btn-primary" type="submit" [disabled]="!projectForm.valid">Add Project</button>
  <br /><br />
  <p class="alert alert-primary" *ngIf="adding">Adding Project</p>
  <p class="alert alert-success" *ngIf="success">Project Added Successfully</p>
  <p class="alert alert-danger" *ngIf="error">{{ error }}</p>
</form>
